{% extends 'Admin/layout.twig' %}

{% block content %}
    <div class="col-sm-8">
        <h1 class="page-header">Listagem de Usuários</h1>

    </div>
    <div class="col-sm-4">
        <h1 class="page-header">Cadastro de Usuário</h1>
        <form action=""
    </div>
{% endblock %}
